env_type            =   "dev"

vpc-cidr-block        = "10.1.0.0/16"
subnet-pub-cidr       = "10.1.1.0/24"
db_subnet_b           = "10.1.5.0/24"
db_subnet_c           = "10.1.6.0/24"
security-group-ids    = "sg-bb74c3d8"
username              = "admin"
deleteion             = "true"
rt-cidr               = "0.0.0.0/0"
subnet-az              = "us-east-1a"